[req]
prompt=no
default_bits=2048
encrypt_key=no
## TODO: The following line can after testing possibly be improved to sha256:
default_md=sha1
distinguished_name=dn
# PrintableStrings only
string_mask=MASK:0002
x509_extensions=ext

[dn]
CN=test-sp.clarin.eu

[ext]
subjectAltName = @alt_names
subjectKeyIdentifier=hash

[alt_names]
URI.1 = https://test-sp.clarin.eu/shibboleth
## TODO: The following line may be unneccessary:
DNS.1 = test-sp.clarin.eu
DNS.2 = resource_a.clarin.eu
DNS.3 = web_app_b.clarin.eu
